div{
  display: block;
}

.header{
  top: 50px;
  width: 100%;
  position: fixed;
  padding: 10px;
  background-image: url('../assets/images/black_lace.png') !important; 
}

.main {
    border: 4px double rgb(12, 6, 9);
    width: 920px;
    height: 1080px;
    margin: auto;
    padding: 10px;
    background-color: white;
   
}

.banner {
    border: 4px double rgb(0, 0, 0);
    width: 900px;
    height: 200px;
    margin: auto;
    padding: 10px;
    background-image:url('../assets/images/banner.jpg');
    background-size: cover;

}
.boot-screen{
  text-align:center;
}
body{
  display:flex;
    background-image: url('../assets/images/g.png');
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family:  DystopianSystem;
  src: url("../assets/fonts/DystopianSystem.otf")
    format("opentype");
}

* {
    cursor: url('../assets/images/cursorimg.png'), auto !important;
}

