/* GLOBAL */
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body {
  text-align: center;
  margin: 0;
  height: 100vh;
  background: #000000ff;
  color: #ffffffff;
  font-family: DystopianSystem, Arial, Helvetica, sans-serif;
  letter-spacing: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* LOGO */
.logo {
  font-family: 'Orbitron', chiller;
  letter-spacing: 0.8em;
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* SMALL TEXT */
.small {
  font-size: 12px;
  font-style: bold;
  letter-spacing: 0.8em;
  color: #ad0000;
}

/* STATUS */
.status {
  font-size: 0.8rem;
  text-shadow:#ad0000;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.anim1{
  color:white;
  text-shadow:#ad0000;
  animation: 2s ease-in-out infinite;
}
.anim2{
  animation: 2s ease-in-out infinite;
  animation-delay: 0.4s;
}
.anim3{
  animation: 2s ease-in-out infinite;
  animation-delay: 0.8s;
}

/* ENTER BUTTON */
.enter {
  text-decoration: wavy;
  font-size: 40px;
  border: none;
  padding: 0.6rem 2rem;
  color: #ad0000;
  letter-spacing: 0.9em;
  transition: all 0.3s ease;
}

@font-face {
  font-family:  DystopianSystem;
  src: url("../assets/fonts/DystopianSystem.otf")
    format("opentype");
}

.enter:hover {


}
