.paint-window {
  width: auto;
  background: #c0c0c0;
  border: 2px solid black;
  font-family: monospace;
  height: auto;
}

.title-bar {
  background-image: url("../assets/images/accessories/black_lace2.png");
  padding: 4px;
  font-size: 12px;
}

.paint-controls {
  display: flex;
  gap: 2px;
  padding: 6px;
  background: #999;
}

#paintCanvas {
  display: block;
  width: 100%;
  background: white;
  border-top: 2px solid black;
  cursor: crosshair;
}
