::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, 
  #ccc 25%,
  black 25%, 
  black 50%, 
  #ccc 50%,
   #ccc 70%, 
   black 75% ,
    black); 
    background-size: 12px 12px;
  border-radius: 5px; 
  border: 4px solid #000000;
}
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, 
    black 25%,
    #ccc 25%, 
    #ccc 50%, 
    black 50%,
    black 70%, 
    #ccc 75%,
    #ccc
  );
  background-size: 12px 12px;
}


.moth-wrappr {
  position: fixed;
  top: 0;
  left: 0;
  width:0;
  height:0;
  z-index: 9999;
  pointer-events: none;
}
.moth{
   width: 65px;
  filter: drop-shadow(0 0 8px rgba(255,255,255,0.18));
  animation: flap 0.25s ease-in-out infinite alternate;


}

/* wing flapping illusion */
@keyframes flap {
  from { transform: scaleX(1); }
  to   { transform: scaleX(0.85); }
}


.bottom-accessory{
  position: absolute;
  bottom:0;
  right:0;
}

.girl {
  position: fixed; 
  bottom: 0;
  right: 0;
  animation: float 3s ease-in-out infinite alternate;
}
.girl {
  filter: drop-shadow(0 0 15px rgba(255,255,255,0.3));
  opacity: 0.95;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.sparkle{
  color: white;
  filter: drop-shadow(0 0 15px rgba(255,255,255,0.15));
}

